/*
	#############################
	CSS rules for a more sane web
	#############################
	
	Usage:
	# Safari
	select as user style sheet in browser
	or use defaults write... rules from dotfiles/osx
	
	# Chrome
	symlink to 
	Application Support/Google/Chrome/Default/User StyleSheets/Custom.css
*/

/* GOOGLE SEARCH
   -----------------------------------------*/

/* Ads */
#tads,
#bottomads {
	display: none !important;
}

/* Dude, I'm searching not socialising */
#gsr #gbu {
	display: none !important;
}

/* TWITTER
   -----------------------------------------*/

/* Nice try, Twitter */
div.promoted-tweet {
	display: none !important;
}

/* Discover menu, Who to follow, Similiar, Trends */
li[data-global-action="discover"],
.dashboard > .module.wtf-module.js-wtf-module.has-content,
div[guidedhelpid="invitefriends"],
.module.trends {
	display: none !important;
}


/* GOOGLE+
   -----------------------------------------*/

/* I don't think that's Fun & Interesting */ 
div[guidedhelpid="celebritysuggestions"],
div.o6.jea {
	display: none !important;
}


/* STACK OVERFLOW ET AL.
   -----------------------------------------*/

.ad-container,
#newsletter-ad,
#recent-badges,
.everyonelovesstackoverflow {
	display: none !important;
}