/*
	#############################
	CSS rules for a more sane web
	#############################

	Usage:
	# Safari
	select as user style sheet in browser
	or use defaults write... rules from dotfiles/osx

	# Chrome
	symlink to
	Application Support/Google/Chrome/Default/User StyleSheets/Custom.css
*/

/* GOOGLE SEARCH
   -----------------------------------------*/

/* Ads */
#tads,
#bottomads {
	display: none !important;
}


/* GMAIL
   -----------------------------------------*/

/* hide google links in footer but keep layout */
.aeG div.aeU {
    visibility: hidden;
}

/* Ads */
body.aAU .mq {
    display: none !important;
}


/* GITHUB
   -----------------------------------------*/

.file-code code,
.file-code pre,
.commits code,
.commits pre,
.diff-line-code,
#files .file .meta .info, 
.file-box .meta .info,
.diff-line-num, 
.blob-line-nums,
.commit .sha-block, 
.commit .sha,
.news .alert .branch-link,
.repository-with-sidebar .repository-sidebar input.clone {
    font-family: "Source Code Pro", Consolas, "Liberation Mono", Courier, monospace !important;
}


/* TWITTER
   -----------------------------------------*/

/* Nice try, Twitter */
div.promoted-tweet {
	display: none !important;
}

/* Discover menu, Who to follow, Similiar, Trends */
li[data-global-action="discover"],
.dashboard > .module.wtf-module.js-wtf-module.has-content,
div[guidedhelpid="invitefriends"],
.module.trends {
	display: none !important;
}


/* GOOGLE+
   -----------------------------------------*/

/* I don't think that's Fun & Interesting */
div[guidedhelpid="celebritysuggestions"],
div.o6.jea {
	display: none !important;
}


/* FACEBOOK
   -----------------------------------------*/

#facebook .ego_column,
#facebook #adsNav,
#facebook #appsNav,
#pagelet_friends_online,
#navItem_app_357937250942127,
#navItem_app_140472815972081,
#developerNav,
#groupsNav,
#navItem_app_2356318349 {
	display: none !important;
}


/* STACK OVERFLOW ET AL.
   -----------------------------------------*/

.ad-container,
#newsletter-ad,
#recent-badges,
.everyonelovesstackoverflow {
	display: none !important;
}